PORT=8000
CUSTOMER_URL=http://localhost:8001
PRODUCT_URL=http://localhost:8002
SHOPPING_URL=http://localhost:8003

DB_URL=mongodb://mongo-db:27017/customers_db
APP_SECRET=mi_palabra_secreta_super_segura
